html, body {
    height:100%;
    width: 100%;
    font-family: 'Almendra';
    }
h1 {
color: rgb(45, 12, 230);
font-size: 25px;
}
h2{
  margin-top: 0%;
  font-size: 22px; 
 color: rgb(170, 13, 13);
    
}
.box-1 i{
  color: rgb(248, 14, 14);
}
h3{
 font-size: 20px;
 color: rgb(58, 29, 26);
}
.box {
    width: fit-content;
    border: 15px solid green;
    box-shadow: inset;
    padding: 50px;
    margin: 20px;
    background: linear-gradient(rgb(252, 255, 254),rgb(188, 229, 8),rgb(207, 201, 202));
    border-radius: 20px;
  }
  .box-1{
    width: fit-content;
    border: 10px solid rgb(212, 55, 100);
    box-shadow: inset;
    padding: 50px;
    margin: 20px;
    background: linear-gradient(rgb(255, 234, 4),rgb(226, 235, 230),rgb(255, 234, 4));
    border-radius: 20px;
    
    
  }
 



            </html>             
              </head>
              </style> 